<h1>Your Car gonna be sold for cheap and you can't do anything about it! Hehehe</h1>
<p>@Model.InputCar</p>
<p>@Model.InputCar.makeModel</p>
<p>@Model.InputCar.price</p>
<p>@Model.InputCar.miles</p>
<p><a href="/">Go sell another one for less than what it's worth!</a></p>
