<h1>Your Car gonna be sold for cheap and you can't do anything about it! Hehehe</h1>
<p>@Model.GetMakeModel()</p>
<p>@Model.GetMiles()</p>
<p>@Model.GetPrice()</p>
<p><a href="/">Go sell another one for less than what it's worth!</a></p>
<p><a href="/view_all_cars">See all the cars for sale for cheap!</a></p>
