<h1>Sell Your Car!</h1>
<form action="/car_added" method="post" id="new-car">
  <div class="form-group">
    <label for="new-make-model">Make/Model</label>
    <input type="text" name="new-make-model" id="new-make-model">
  </div>
  <div class="form-group">
    <label for="new-miles">Number of Miles</label>
    <input type="text" name="new-miles" id="new-miles">
  </div>
  <div class="form-group">
    <label for="new-price">Price</label>
    <input type="text" name="new-price" id="new-price">
  </div>
  <button type="submit">Submit</button>
</form>
